# IntelliJ project files
.idea
*.iml
target
gen### Java template
*.class
*.iws

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)
spigot-plugin-plugin.ipr
spigot-plugin-plugin.iws
build
testserver

# Maven
log/
target/
dependency-reduced-pom.xml